.section-heading{
    text-align: center;
    font-size: 30px;
    line-height: 25px;
    padding: 50px;
    
}

.clients{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}
